{% extends 'base.html.twig' %}

{% block content %}
    <div style="margin: 100px auto 0;width: 500px;">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center py-4 my-4">Call <code>make generate</code> to generate docs.</h4>
            </div>
        </div>
    </div>
{% endblock %}
