.hint {
    border: 2px solid #ddd;
    border-radius: 0.375rem;
    margin-bottom: 20px;
    padding: 12px;
    position: relative;

    .hint-title {
        color: #000;
        font-weight: 600;
        margin-bottom: $paragraph-margin-bottom;

        .fa-solid {
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            border-radius: 4px;
            background-color: #ddd;
            display: inline-block;
            margin-right: 8px;
        }

        span {
            font-size: 17px;
        }
    }

    :last-child {
        margin-bottom: 0;
    }
}
