aside {
    .list-group-flush {
        > .list-group-item {
            font-size: 20px;
            margin-bottom: 6px;
        }

        .list-group {
            a {
                padding: 5px 10px 5px 26px;
                border: none;
                color: rgba(0,0,0,.8);

                &.active {
                    background-color: #eee;

                }
            }
        }
    }
}
